<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

<f:render partial="TopBar" arguments="{_all}"></f:render>
<f:render partial="RightBar" arguments="{_all}"></f:render>

<div class="t3-frontend-editing__left-bar">
</div>
<script type="text/javascript">
		var iframeUrl = "{iframeUrl -> f:format.raw()}";
</script>

<div class="t3-frontend-editing__iframe-wrapper inactive">
		<iframe src="" frameborder="0" border="0"></iframe>
</div>

<div class="t3-frontend-editing__loading-screen">
		{loadingIcon -> f:format.html()}
</div>

<script src="/typo3conf/ext/frontend_editing/Resources/Public/Javascript/FrontendEditing.js" type="text/javascript"></script>
<script src="/typo3conf/ext/frontend_editing/Resources/Public/Javascript/InlineEditing.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$('.t3-frontend-editing__right-bar').hide();
	$('.t3-frontend-editing__left-bar').hide();

	$('.right-bar-button').click(function() {
		$('.t3-frontend-editing__top-bar-right').toggleClass('push-toleft');
		$('.t3-frontend-editing__iframe-wrapper').toggleClass('push-toleft-iframe');

		$('.t3-frontend-editing__right-bar').toggle(100);
	});
	$('.left-bar-button').click(function() {
		$('.t3-frontend-editing__top-bar-left').toggleClass('push-toright');
		$('.t3-frontend-editing__left-bar').toggle(100);
	});
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
	acc[i].onclick = function(){
		this.classList.toggle("active");
		this.nextElementSibling.classList.toggle("show");
  }
}
});
</script>
