# Exclude PHPStorm indexing files
/.idea

# Exclude rendered documentation
/Documentation-GENERATED-temp/

# Exclude OSX index files
.DS_Store

# Composer
/.build/*
composer.lock
/vendor
/var

# Node packages.
/node_modules

# NPM
npm-debug.log
package-lock.json

# PHP CS fix caches
.php_cs.cache
