@font-face {
    font-family: 'icons';
    src: url('Fonts/icons.eot?fgsxdn');
    src:
        url('Fonts/icons.eot?fgsxdn#iefix') format('embedded-opentype'),
        url('Fonts/icons.ttf?fgsxdn') format('truetype'),
        url('Fonts/icons.woff?fgsxdn') format('woff'),
        url('Fonts/icons.svg?fgsxdn#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icons {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icons-arrow-double:before {
    content: "\e90e";
}

.icon-icons-list:before {
    content: "\e909";
}

.icon-icons-grid:before {
    content: "\e90a";
}

.icon-icons-arrow-up:before {
    content: "\e90f";
}

.icon-icons-arrow-down:before {
    content: "\e90b";
}

.icon-icons-cancel:before {
    content: "\e90c";
}

.icon-icons-save:before {
    content: "\e90d";
}

.icon-icons-site-tree:before {
    content: "\e900";
}

.icon-icons-back:before {
    content: "\e901";
}

.icon-icons-workspace:before {
    content: "\e902";
}

.icon-icons-tools-settings:before {
    content: "\e903";
}

.icon-icons-lg-desktop:before {
    content: "\e904";
}

.icon-icons-desktop:before {
    content: "\e905";
}

.icon-icons-tablet:before {
    content: "\e906";
}

.icon-icons-phone:before {
    content: "\e907";
}

.icon-icons-page:before {
    content: "\e908";
}
