// inline actions icons styling - end section borrowed from backend.css - modified though
@mixin inline-action-icon {
    .icon {
        position: relative;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: bottom;
    }

    .icon svg,
    .icon img {
        display: block;
        height: 100%;
        width: 100%;
        transform: translate3d(0, 0, 0);
    }

    .icon * {
        display: block;
        line-height: inherit;
    }

    .icon-markup {
        position: absolute;
        display: block;
        text-align: center;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    .icon-overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 68.75%;
        width: 68.75%;
        text-align: center;
    }

    .icon-color {
        fill: currentColor;
    }

    .icon-spin .icon-markup {
        animation: icon-spin 2s infinite linear;
    }

    @keyframes icon-spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }

    .icon-state-disabled .icon-markup {
        opacity: 0.5;
    }

    .icon-size-small {
        height: 26px;
        width: 26px;
        line-height: 26px;
    }

    .icon-size-default {
        height: 42px;
        width: 42px;
        line-height: 42px;
    }

    .icon-size-large {
        height: 58px;
        width: 58px;
        line-height: 58px;
    }
}
