.accordion {
    border-top: 1px solid $t3-gray-divider;
}

.accordion-content {
    padding: 0;
    display: none;
    background-color: $t3-gray;
    border-top: 1px solid $t3-gray-divider;

    &.show {
        display: block;
    }
}
