.t3-frontend-editing__page-tree-wrapper {
    height: calc(100vh - #{$top-bar-height + $pagetree-filter-height});
    max-height: calc(100vh - #{$top-bar-height + $pagetree-filter-height});
    width: $left-bar-width - 14px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-corner {
        background-color: $scroll-bar-track;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black;
        border: 1px solid $scroll-bar-color;
    }

    &::-webkit-scrollbar-track {
        background-color: $scroll-bar-track;
    }

    .t3-frontend-editing__page-tree {
        list-style-type: none;
        padding: 0;
        font-size: $font-size-small;

        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 95%;
            line-height: 1;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

// D3 tree styling
.t3-frontend-editing__page-site-root-wrapper {
    #installation-mounts {
        margin-top: 10px;
        width: 70%;
        display: inline-block;
        color: $gray-dark;
        font: $font-size-regular $font-family-user-input;
        padding: 6px;
        border: 2px solid $gray;
        border-radius: 4px;
    }
}

#page-tree-filter-wrapper,
.t3-frontend-editing__page-site-root-wrapper {
    width: 100%;
    height: $pagetree-filter-height;
    overflow: hidden;

    label {
        margin-top: 10px;
        width: 25%;
    }

    input {
        margin-top: 10px;
        width: 70%;
        border-radius: 4px;
        height: 32px;
    }
}

#page-tree-wrapper {
    svg {
        padding: 0 0 8px;
    }

    // input field when you edit the name of a page
    #edit-page-tree-node {
        display: none;
        position: absolute;
        margin: -8px 0 0 -9px;
    }

    .node {
        rect {
            fill: transparent;
            stroke: transparent;
            stroke-width: 2px;

            &.active {
                stroke: $orange-primary;
            }
        }

        rect:not(.unclickable) {
            cursor: pointer;
        }

        polygon {
            stroke: transparent;
            stroke-width: 8px;

            &.no-children {
                fill: transparent;
            }

            &.has-children {
                fill: $color-t3-gray;
            }

            &.has-children-exp {
                fill: $white;
            }
        }

        text {
            font: $font-size-small $font-family-base;
            fill: $white;
            pointer-events: none;
        }
    }

    path.link {
        fill: none;
        stroke: $color-t3-gray;
        stroke-width: 2px;
        stroke-dasharray: 1, 1;
    }
}
