.title-default {
    padding: 10px 0;
}

.title-center {
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.title-right {
    text-align: right;
    padding: 10px;
    display: inline-block;
}

.title-left {
    text-align: left;
    padding: 10px;
    display: inline-block;
}

.title-normal-casing {
    font-size: $font-size-small;
    text-transform: none;
    margin-top: 4px;
}
