@font-face {
    font-family: 'Share';
    src: url('../../../Resources/Public/Fonts/Share/share-regular-webfont.eot');
    src: url('../../../Resources/Public/Fonts/Share/share-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../Resources/Public/Fonts/Share/share-regular-webfont.woff') format('woff'), url('../../../Resources/Public/Fonts/Share/share-regular-webfont.ttf') format('truetype'), url('../../../Resources/Public/Fonts/Share/share-regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
