.lity-active .lity {
  background: rgba($black, 0.5);
}

.lity-opened {
  z-index: 99999 !important;
}

.lity-close {

  &:active {
    top: -30px !important;
  }
  position: absolute !important;
  right: -30px !important;
  top: -30px !important;
}

