.lity-active {
  .lity {
    background: $modal-background-color;
  }
}

.lity-opened {
  z-index: 99999 !important;
}

.lity-close {
  position: absolute !important;
  right: -30px !important;
  top: -30px !important;

  &:active {
    top: -30px !important;
  }
}
