.#{$t3-frontend}top-bar {
  background: $gray-dark;
  color: $white;
  height: $top-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10999;
  font-family: $font-family-base;
  font-size: $font-size-regular;

  .cke {
    top: 1px !important;
    left: 180px !important;
    right: auto !important;

    &.left-open {
      left: 420px !important;
    }
  }
}

.#{$t3-frontend}topbar-inner {
  padding: 0;
  height: $top-bar-height;
  font-weight: 300;
  font-size: $font-size-regular;
  text-transform: uppercase;
}

.#{$t3-frontend}top-bar-left {
  @include transition(left $push-duration $push-timing);
  position: relative;
  left: 0;
  width: 50%;
  float: left;

  .back-backend {
    @include transition(margin $push-duration $push-timing);
    display: inline-block;
    position: relative;
    border-right: 1px solid $black;
    height: $top-bar-height;
    margin-left: 45px;
    background-color: $gray-dark;

    &:hover {
      background-color: lighten($gray-dark, 20%);
    }

    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      padding: 10px 10px 14px;
    }

    .icon-icons-back {
      padding-right: 5px;
      top: 3px;
      position: relative;
      font-size: 20px;
      color: $orange-primary;
    }
  }

  &.push-toright {
    .back-backend {
      margin-left: 0;
    }
  }
}

.#{$t3-frontend}top-bar-right {
  @include transition(right $push-duration $push-timing);
  width: 50%;
  float: right;
  text-align: right;
  right: 0;
  position: relative;

  .top-bar-items {
    @include transition(margin $push-duration $push-timing);
    float: right;
    margin: 0;
    margin-right: 45px;
    padding: 0;
    display: inline-block;
    border-left: 1px solid $black;

    .item {
      border-right: 1px solid $black;
      float: left;
      height: $top-bar-height;
      position: relative;
      list-style: none;
      display: inline-block;
      background: $gray-dark;
      position: relative;

      &:hover {
        background-color: lighten($gray-dark, 20%);
      }

      .dropdown-toggle {
        height: $top-bar-height;
        display: inline-block;
        cursor: pointer;

        &.active {
          background: $gray;
        }
      }

      .dropdown-menu {
        display: none;
        background: $gray;
        position: absolute;
        top: $top-bar-height;
        min-width: 350px;
        right: 0;
        padding: 15px;

        li {
          display: block;
          padding: 10px 0;
        }
      }
    }
  }

  &.push-toleft {
    right: $right-bar-width;

    .top-bar-items {
      margin-right: 0;
    }
  }

  .top-bar-action-buttons {
    float: right;
    margin: 5px;
  }

  .user {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    .icon-avatar-default {
      width: 32px;
      height: 32px;
      display: inline-block;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;

      .icon-markup {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }

    .icon-avatar-title {
      position: relative;
      top: -3px;
    }
  }
}
