.scrollarea {
    contain: strict;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    right: 0;
    min-height: 50px;
    max-height: 100px;
    height: 10%;
    display: flex;
}

@supports (backdrop-filter: blur(1px) brightness(0.4)) {
    .scrollarea {
        background: transparent;
        backdrop-filter: blur(1px) brightness(0.4);
    }
}

.scrollarea-top {
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.scrollarea-bottom {
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.scrollarea--arrow:before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    margin: auto;
    position: relative;
    border: 16px solid rgba(255, 255, 255, 0.8);
    transform: scale(1, 0.6) rotate(45deg);
    transition: border-color 250ms ease, transform 250ms ease;
}

.scrollarea--arrow-up:before {
    top: 10px;
    border-bottom-width: 0;
    border-right-width: 0;
}

.scrollarea--arrow-down:before {
    top: -10px;
    border-top-width: 0;
    border-left-width: 0;
}

.scrollarea--arrow:hover:before {
    transform: scale(0.75, 0.75) rotate(45deg);
    border-color: white;
}
