{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div class="content-element-hierarchy-tab dark-transparent-bg accordion-container accordion-list" data-wizard-type="ce-hierarchy-elements">
	<div class="accordion ">
		<div class="element-title">
			<span class="title-left"><f:translate key="right-bar.on-page.title" extensionName="FrontendEditing" /></span>
		</div>
		<div class="element-action">
			<span class="icons icon-icons-arrow-down trigger"></span>
		</div>
	</div>
	<div class="accordion-content">
		<f:for each="{contentElementsOnPage}" as="contentElement">
			<div class="element"
				 onmouseover="F.indicateCeStart(event)"
				 onmouseout="F.indicateCeEnd(event)"
				 data-uid="{contentElement.uid}"
			>
			<f:comment>
				 <!--
				 @TODO: Implement click to: 1) scroll to content element and 2) start editing
				 @TODO: Implement copy-on-drag for content elements.
				 draggable="true"
				 ondragstart="F.dragCopyCeStart(event)"
				 ondragend="F.dragCopyCeEnd(event)"
				 title="{contentElement._recordTitle}"
				 -->
			</f:comment>
				<span class="content-icon">
					<core:iconForRecord table="tt_content" row="{contentElement}" size="default" />
				</span>
				<div class="description">
					<span class="title-default">{contentElement._recordTitle}</span>
					<span class="title-default title-normal-casing"><f:translate key="right-bar.on-page.changed" extensionName="FrontendEditing" />
						<f:format.date>@{contentElement.tstamp}</f:format.date>
					</span>
				</div>
			</div>
		</f:for>
	</div>
</div>
