<div class="dark-transparent-bg accordion-container accordion-grid">
	
	<div class="accordion ">
		<div class="element-title">
			<span class="title-left">Form Elements</span>
		</div>
		<div class="element-action">
			<span class="icons icon-icons-grid grid "></span>
			<span class="icons icon-icons-list list-view"></span>
			<span class="icons icon-icons-arrow-down trigger"></span>
		</div>
	</div>
	<div class="accordion-content">
		<div class="element">
			<span class="content-icon">
				<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
			</span>
			<div class="description">
				<span class="title-default">Header</span>
				<span class="title-default">Adds a header only</span>
			</div>
		</div>
		<div class="element">
			<span class="content-icon">
				<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
			</span>
			<div class="description">
				<span class="title-default">Text & Media</span>
				<span class="title-default">Any number of media wrapped right around a regular text element.</span>
			</div>
		</div>
		<div class="element">
			<span class="content-icon">
				<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
			</span>
			<div class="description">
				<span class="title-default">Text & Media</span>
				<span class="title-default">Any number of media wrapped right around a regular text element.</span>
			</div>
		</div>
	</div>
</div>
