<div class="t3-frontend-editing__left-bar">
	<div class="top-left-title">
		<span class="title-icon-left icons icon-icons-site-tree"></span>
		<span class="title-left">
			<f:translate key="left-bar.site-tree" extensionName="FrontendEditing" />
		</span>
		<span class="left-bar-button icons icon-icons-site-tree" title="{f:translate(key: 'left-bar.site-tree', extensionName: 'FrontendEditing')}"></span>
	</div>
	<div class="padding-wrapper">
		<div class="t3-frontend-editing__page-tree-wrapper">
			<ul class="t3-frontend-editing__page-tree">
				<f:for each="{pageTree}" as="page">
					<li data-url="{f:uri.page(pageUid: page.row.uid)}">
						{page.depthData -> f:format.raw()}<f:format.raw>{page.HTML}</f:format.raw>
						<span class="page-tree-item{f:if(condition: page.row.hidden, then: ' page-tree-status-hidden')}{f:if(condition: '{page.row.starttime} >= {currentTime}', then: ' page-tree-status-hidden')}{f:if(condition: '{page.row.uid} == {currentPage}', then: ' page-tree-active')}" title="id={page.row.uid} - {page.row.title}">
							{page.row.title}
						</span>
					</li>
				</f:for>
			</ul>
		</div>
	</div>
</div>
