<div class="t3-frontend-editing__left-bar">
	<div class="top-left-title">
		<span class="title-icon-left icons icon-icons-site-tree"></span>
		<span class="title-left">
			<f:translate key="left-bar.site-tree" extensionName="FrontendEditing" />
		</span>
		<span class="left-bar-button icons icon-icons-site-tree" title="{f:translate(key: 'left-bar.site-tree', extensionName: 'FrontendEditing')}"></span>
	</div>
	<div class="padding-wrapper">
		<div id="page-tree-wrapper" class="t3-frontend-editing__page-tree-wrapper"></div>
	</div>
</div>
