{namespace fe=TYPO3\CMS\FrontendEditing\ViewHelpers}

<div class="t3-frontend-editing__left-bar">
	<div class="top-left-title">
		<span class="title-icon-left icons icon-icons-site-tree"></span>
		<span class="title-left">
			<f:translate key="left-bar.site-tree" extensionName="FrontendEditing" />
		</span>
		<span class="left-bar-button icons icon-icons-site-tree" title="{f:translate(key: 'left-bar.site-tree', extensionName: 'FrontendEditing')}"></span>
	</div>
	<div class="padding-wrapper t3-frontend-editing__page-tree-options">
		<ul>
			<f:if condition="{pageNewUrl}">
				<li>
					<button type="#" class="btn btn-default t3-frontend-editing__page-new" data-url="{pageNewUrl}">
						<core:icon identifier="actions-page-new"/>
					</button>
				</li>
			</f:if>
			<f:if condition="{pageEditUrl}">
				<li>
					<button type="#" class="btn btn-default t3-frontend-editing__page-edit" data-url="{pageEditUrl}">
						<core:icon identifier="actions-page-open"/>
					</button>
				</li>
			</f:if>
			<li>
				<button type="button" class="btn btn-default search-button">
					<core:icon identifier="actions-filter"/>
				</button>
			</li>

			<f:if condition="{mounts}">
				<li>
					<button type="button" class="btn btn-default site-root-button">
						<core:icon identifier="apps-pagetree-page-domain"/>
					</button>
				</li>
			</f:if>
			<li>
				<button type="button" class="btn btn-default t3-frontend-editing__page-tree-refresh">
					<core:icon identifier="actions-refresh"/>
				</button>
			</li>
		</ul>
	</div>
	<div class="padding-wrapper">
		<f:if condition="{mounts}">
			<div class="t3-frontend-editing__page-site-root-wrapper" style="display: none">
				<label>
					<span><f:translate key="left-bar.installation-mounts.search_tip" extensionName="FrontendEditing"/></span>
				</label>
				<select id="installation-mounts" class="form-control form-control-adapt" name="installation-mounts" onchange="F.siteRootChange(this);">
					<option value="0" selected><f:translate key="left-bar.installation-mounts.change" extensionName="FrontendEditing"/></option>
					<f:for each="{mounts}" key="uid" as="mount">
						<f:if condition="{mount.domain}">
							<option value="//{mount.domain}/">{mount.title}</option>
						</f:if>
					</f:for>
				</select>
			</div>
		</f:if>
		<div id="page-tree-filter-wrapper" class="t3-frontend-editing__page-tree-filter-wrapper" style="display: none">
			<label>
				<span><f:translate key="left-bar.search-bar.search_tip" extensionName="FrontendEditing"/></span>
			</label>
			<input type="text" value="" class="search-page-tree" placeholder="{f:translate(key: 'left-bar.search-bar.search_placeholder', extensionName: 'FrontendEditing')}">
		</div>

		<div id="page-tree-wrapper" class="t3-frontend-editing__page-tree-wrapper">
			<input type="text" id="edit-page-tree-node" value="">
		</div>
	</div>
</div>
