{namespace fe=TYPO3\CMS\FrontendEditing\ViewHelpers}

<div class="t3-frontend-editing__right-bar">
	<div class="top-right-bar-wrapper">
		<div class="elements-wrapper">
			<div class="elements">
				<f:render partial="WizardElementTabs" arguments="{_all}"></f:render>
			</div>
			<div class="elements">
				<f:render partial="ContentElementHierarchyTab" arguments="{_all}"></f:render>
			</div>
			<f:if condition="{customRecords}">
				<div class="elements">
					<f:render partial="CustomRecordTab" arguments="{_all}"></f:render>
				</div>
			</f:if>
		</div>
	</div>
</div>
