<div class="t3-frontend-editing__top-bar">
	<div class="t3-frontend-editing__topbar-inner">
		<div class="t3-frontend-editing__top-bar-left">
			<div class="back-backend">
				<a href="/typo3">
					<span class="icons icon-icons-back"></span>
					<span title="To backend">
						<f:translate key="top-bar.to-backend" extensionName="FrontendEditing" />
					</span>
				</a>
			</div>
		</div>
		<div class="t3-frontend-editing__top-bar-right">

			<ul class="top-bar-items">
				<li class="item">
					<a class="dropdown-toggle user">
						<f:if condition="{userImage}">
							<f:then>
								<span class="t3js-icon icon icon-size-default icon-state-default icon-avatar-default" data-identifier="avatar-default">
									<span class="icon-markup">
										<img src="{userImage.url}" width="{userImage.width}" height="{userImage.height}" />
									</span>
								</span>
							</f:then>
							<f:else>
								{userIcon -> f:format.html()}
							</f:else>
						</f:if>
						<span class="icon-avatar-title" title="{userName -> f:format.html()}">{userName -> f:format.html()} </span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<f:link.typolink parameter="{logoutUrl}" class="btn-default" target="_top">
								<f:translate key="top-bar.logout" extensionName="FrontendEditing" />
							</f:link.typolink>
						</li>
					</ul>
				</li>
			</ul>

			<div class="top-bar-action-buttons">
				<button type="submit" class="t3-frontend-editing__save btn btn-inactive">
					<span class="btn-text">
						<f:translate key="top-bar.save-all" extensionName="FrontendEditing" />
					</span>
					<span class="items-counter btn-text"></span>
					<span class="icons icon-icons-save"></span>
				</button>
				<button type="#" class="t3-frontend-editing__discard btn-default">
					<span class="btn-text">
						<f:translate key="top-bar.discard-all" extensionName="FrontendEditing" />
					</span>
					<span class="icons icon-icons-cancel"></span>
				</button>
			</div>
		</div>
	</div>
</div>
