<div class="t3-frontend-editing__top-bar">
		<div class="t3-frontend-editing__topbar-inner">
				<div class="t3-frontend-editing__top-bar-left">
					<button class="left-bar-button"><<</button>

					<div class="back-backend">
							<a href="/typo3">
									<span class="icons icon-icons-back"></span><span title="To backend">To backend</span>
							</a>
						</div>
				</div>
				<div class="t3-frontend-editing__top-bar-right">
							<ul class="top-bar-items">
								<li class="dropdown item">
									<div class="user">
											{userIcon -> f:format.html()}
											<span title="{userName -> f:format.html()}">{userName -> f:format.html()} </span>
									</div>
								</li>
								<li class="fornow item">
									<button class="right-bar-button">>></button>
								</li>
							</ul>
				</div>
		</div>
</div>
