{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<div class="t3-frontend-editing__top-bar">
	<div class="t3-frontend-editing__topbar-inner">
		<div class="t3-frontend-editing__top-bar-left">
			<div class="top-bar-action-buttons">
				<a class="btn btn-backend" href="{backendUrl}">
					<span class="icons icon-icons-back"></span>
					<span class="btn-text" title="{f:translate(key: 'top-bar.to-backend', extensionName: 'FrontendEditing')}">
						<f:translate key="top-bar.to-backend" extensionName="FrontendEditing" />
					</span>
				</a>
			</div>
		</div>
		<div class="t3-frontend-editing__top-bar-right">

			<ul class="top-bar-items">
				<li class="item">
					<a class="dropdown-toggle user">
						<be:avatar backendUser="{currentUser.uid}" />
						<span class="icon-avatar-title" title="{currentUser.username}">{currentUser.username}</span>
						<span class="icons icon-icons-arrow-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="btn btn-logout" href="{logoutUrl}">
								<span class="btn-text" title="{f:translate(key: 'top-bar.logout', extensionName: 'FrontendEditing')}">
									<f:translate key="top-bar.logout" extensionName="FrontendEditing" />
								</span>
							</a>
							
						</li>
					</ul>
				</li>
			</ul>

			<div class="top-bar-action-buttons">
				<button type="submit" class="btn btn-default btn-inactive t3-frontend-editing__save">
					<span class="btn-text">
						<f:translate key="top-bar.save-all" extensionName="FrontendEditing" />
					</span>
					<span class="items-counter btn-text"></span>
					<span class="icons icon-icons-save"></span>
				</button>
				<button type="#" class="btn btn-default btn-inactive t3-frontend-editing__discard">
					<span class="btn-text">
						<f:translate key="top-bar.discard-all" extensionName="FrontendEditing" />
					</span>
					<span class="icons icon-icons-cancel"></span>
				</button>
			</div>
		</div>
	</div>
</div>
