		<div class="dark-transparent-bg">
					<button class="sidebyside">SideBySide</button><button class="list-view">List</button>
			<div class="accordion active">
					<span class="title-left">Typical Content Elements</span> 
			</div>
			<div class="accordion-content">
				<span class="content-icon">
					<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
				</span>
				<div class="description">
					<span class="title-default">Header</span>
					<span class="title-default">Adds a header only</span>
				</div>

				<span class="content-icon">
					<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
				</span>
				<div class="description">
					<span class="title-default">Text & Media</span>
					<span class="title-default">Any number of media wrapped right around a regular text element.</span>
				</div>
				<span class="content-icon">
					<img src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/ContentElements/texticon.svg" width="32" height="32">
				</span>
			</div>
		</div>
