.t3-frontend-editing__left-bar {
    background: $transparent-opacity;
    color: $white;
    position: fixed;
    top: $top-bar-height;
    left: -280px;
    width: $left-bar-width;
    min-height: 100%;
    z-index: 10998;
    font-family: $font-family-base;
    backdrop-filter: blur(3px);

    &.closed {
        display: none;
    }

    .title-icon-left {
        top: 11px;
        position: relative;
        font-size: 32px;
        padding-left: 15px;
        color: $color-t3-primary;
    }

    .top-left-title {
        height: $top-bar-height;
        background-color: $gray-darker;
        cursor: pointer;

        .title-left {
            text-align: left;
            padding: 10px 5px 10px 10px;
            font-size: 18px;
            vertical-align: middle;
        }

        .left-bar-button {
            transition: right ($push-duration / 2) $push-timing;
            transform-origin: center;
            float: right;
            display: block;
            height: $top-bar-height;
            line-height: $top-bar-height;
            width: 45px;
            text-align: center;
            position: absolute;
            color: $gray-light;
            font-size: 32px;
            right: -45px;
            top: 0;
            background-color: $gray-darker;

            &:hover {
                background-color: lighten($black, 20%);
                color: $white;
            }
        }
    }

    &.open {
        .top-left-title {
            .left-bar-button {
                right: 0;
            }

            .icon-icons-arrow-double {
                transform: scaleX(-1);
            }
        }
    }

    .t3-frontend-editing__page-tree-options {
        padding: 15px 10px 5px;
        background: $gray-dark;

        ul {
            padding-left: 0;
            list-style: none;

            li {
                display: inline-block;

                &:last-of-type {
                    float: right;
                }

                .btn-default {
                    height: 32px;
                    width: 32px;
                    padding: 0;
                    border-radius: 2px;

                    &:hover {
                        background-color: lighten($black, 20%);
                        color: darken($white, 20%);
                    }
                }

                svg {
                    width: 16px;
                    height: 16px;

                    .icon-color {
                        fill: $white;
                    }
                }
            }
        }
    }
}

.push-toright {
    left: 0;
    position: relative;
}
