.t3-frontend-editing__iframe-wrapper {
    transition: width $push-duration $push-timing;
    margin-top: 0;
    margin-right: $right-bar-width;
    position: relative;
    width: 100%;

    &.push-toleft-iframe {
        transition: width $push-duration $push-timing;
        width: calc(100% - #{$right-bar-width});
        position: relative;
    }

    &.inactive {
        margin-right: 0;
    }

    iframe {
        width: 100%;
        height: calc(100vh - #{$top-bar-height});
        margin: 0 auto;
        display: block;
        box-shadow: 0 0 15px 0 $gray;
    }

    &.full-view {
        margin-top: 0;
        width: 100%;

        iframe {
            height: 100vh;
        }
    }
}

.t3-frontend-editing__toolbars-wrapper {
    position: relative;
}

.t3-frontend-editing__loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    bottom: -$top-bar-height;
    right: 0;
    background: transparentize($color-t3-gray-dark, 0.2);

    .icon-spin {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -28px 0 0 -25px;

        .icon-markup {
            animation: icon-spin 2s infinite linear;
            display: block;
        }

        @keyframes icon-spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(359deg);
            }
        }
    }
}

.hidden {
    display: none;
}

body {
    &.t3-frontend-editing__body {
        overflow: hidden;
    }

    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.t3-frontend-editing__ckeditor-bar__wrapper {
    background: $t3-gray;
    min-height: $top-bar-height;
    height: auto;
    position: relative;
    top: 0;
    z-index: 1;
    margin: 0 auto;
    width: auto;
    left: 0;
    right: 0;

    &.full-view-active {
        display: none;
    }
}

.t3-frontend-editing__ckeditor-bar {
    background: $t3-gray;
    color: #fff;
    height: auto;
    position: relative;
    z-index: 10998;
    margin: 0 auto;
    width: auto;
    left: 0;
    right: 325px;
    margin-right: 325px;

    > .cke {
        position: relative !important;
        top: -1px !important;
        left: 0 !important;
        right: auto !important;
        box-shadow: unset;

        &.left-open {
            left: 290px !important;
        }
    }

    &.full-view-active {
        display: none;
    }

    &.left-closed {
        left: 45px;
    }

    &.right-closed {
        right: 45px;
        margin-right: 45px;
    }
}
