.t3-frontend-editing__right-bar {
    background-color: $gray;
    color: $black;
    position: absolute;
    top: 0;
    right: -$right-bar-width;
    width: $right-bar-width;
    bottom: 0;
    z-index: 10998;
    font-family: $font-family-base;

    &.closed {
        display: none;
    }

    .top-right-bar-wrapper {
        background-color: $t3-gray;

        .elements-wrapper {
            overflow-y: scroll;
            height: 100vh;

            .elements {
                background-color: $t3-gray;

                &:first-child .accordion-container:first-child .accordion { border-top: none; }
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-corner {
            background-color: $scroll-bar-color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $black;
            border: 1px solid $scroll-bar-color;
        }

        &::-webkit-scrollbar-track {
            background-color: $scroll-bar-color;
        }
    }

    .devices {
        height: $top-bar-height;
        padding-left: 14px;
        padding-right: 0;
        width: $right-bar-width;
        line-height: 1em;
        font-size: 1em;
    }
}

.t3-frontend-editing__save,
.t3-frontend-editing__discard {
    .btn-text {
        position: relative;
        top: -3px;
    }

    .icon-icons-save {
        font-size: 26px;
        position: relative;
        top: 1px;
    }

    .icon-icons-cancel {
        font-size: 26px;
        position: relative;
        top: 2px;
    }
}
