.t3-frontend-editing__top-bar {
    background: $gray-dark;
    color: $white;
    height: $top-bar-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10999;
    font-family: $font-family-base;
    font-size: $font-size-regular;

    .btn {
        color: $white;
    }
}

.t3-frontend-editing__topbar-inner {
    padding: 0;
    height: $top-bar-height;
    font-weight: 300;
    font-size: $font-size-regular;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.t3-frontend-editing__top-bar-right {
    transition: right $push-duration $push-timing;
    width: 100%;
    float: left;
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: left;

    &.push-toleft {
        right: 0;
    }

    .top-bar-action-buttons {
        float: left;
        margin: 0;
        min-width: $right-bar-width - $top-bar-height;
        padding: 5px $top-bar-height 5px 5px; // create offset for t3-frontend-editing__full-view

        button {
            margin-right: 5px;
        }
    }
}
