.t3-frontend-editing__top-bar {
    background: $gray-dark;
    color: $white;
    height: $top-bar-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10999;
    font-family: $font-family-base;
    font-size: $font-size-regular;

    .btn {
        color: $white;
    }
}

.t3-frontend-editing__topbar-inner {
    padding: 0;
    height: $top-bar-height;
    font-weight: 300;
    font-size: $font-size-regular;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    .btn-backend {
        height: $top-bar-height;
        //border: 0;
        border-right: 1px solid darken($color-t3-gray-dark, 10%);

        &:hover {
            color: $white;
            background-color: lighten($gray-dark, 20%);
        }

        &:focus {
            color: $white;
        }

        span {
            display: inline-block;
            position: relative;
            top: $top-bar-height / 5;
            vertical-align: middle;
        }

        .icon-icons-back {
            font-size: 24px;
            color: $color-t3-primary;
        }
    }
}

.t3-frontend-editing__top-bar-left {
    transition: left $push-duration $push-timing;
    position: relative;
    left: 0;
    float: left;
    flex: 0;
}

.t3-frontend-editing__top-bar-right {
    transition: right $push-duration $push-timing;
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    .top-bar-items {
        transition: margin $push-duration $push-timing;
        margin: 0;
        padding: 0;
        display: inline-block;

        .item {
            border-right: 1px solid lighten($gray-dark, 20%);
            border-left: 1px solid lighten($gray-dark, 20%);
            float: left;
            height: $top-bar-height;
            position: relative;
            list-style: none;
            display: inline-block;
            background: $gray-dark;

            &:hover {
                background-color: lighten($gray-dark, 20%);
            }

            .dropdown-toggle {
                height: $top-bar-height;
                display: inline-block;
                cursor: pointer;
                text-decoration: none;

                .icon-icons-arrow-down {
                    transform: rotate(0);
                    transition-duration: $push-duration;
                    transform-origin: center;
                    display: inline-block;
                    position: relative;
                    top: 11px;
                    vertical-align: middle;
                    color: white;
                    font-size: 24px;
                }

                &.active {
                    background: $gray;

                    .icon-icons-arrow-down {
                        transform: rotate(180deg);
                        transition-duration: $push-duration;
                        transform-origin: center;
                    }
                }
            }

            .dropdown-menu {
                display: none;
                background: $gray;
                position: absolute;
                top: $top-bar-height;
                min-width: 350px;
                right: 0;
                left: auto;
                padding: 15px;
                text-align: right;

                li {
                    display: block;
                    padding: 10px 0;

                    .icon-icons-back {
                        top: 6px;
                        position: relative;
                    }
                }
            }
        }
    }

    &.push-toleft {
        right: 0;

        .top-bar-items {
            margin-right: 0;
        }
    }

    .top-bar-action-buttons {
        margin: 0;
        min-width: $right-bar-width - $top-bar-height;
        padding: 5px $top-bar-height 5px 5px; // create offset for t3-frontend-editing__full-view

        button {
            margin-right: 5px;
        }

        .t3-frontend-editing__save {
            &:not(.btn-inactive) {
                background-color: $color-t3-primary;
                border: none;

                &:hover {
                    background-color: darken($color-t3-primary, 7%);
                }
            }
        }

        .t3-frontend-editing__discard {
            &.btn-inactive {
                border: 0;
            }
        }
    }

    .user {
        padding-left: 10px;
        padding-right: 10px;
        position: relative;

        .avatar {
            display: inline-block;
            position: relative;
            top: $top-bar-height / 5;
            vertical-align: middle;
            margin-right: 10px;
        }

        .avatar-image {
            display: block;
            height: 32px;
            width: 32px;
            overflow: hidden;
            border-radius: 50%;
        }

        .icon-avatar-default {
            width: 32px;
            height: 32px;
            display: inline-block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            overflow: hidden;

            .icon-markup {
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }

        .icon-avatar-title {
            position: relative;
            top: $top-bar-height / 5;
            color: $white;
            text-decoration: none;
            vertical-align: middle;
        }
    }

    .btn-logout {
        text-decoration: none;
        display: inline-block;
        border: 1px solid $gray-light;

        .btn-text {
            position: relative;
            top: 9px;
        }
    }
}
