%btn-min-width {
  min-width: 135px;
}

.btn {
  display: inline-block;
  background-color: $orange-primary;
  color: $white;
  border: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: $font-family-base;
  height: 35px;
  font-size: $font-size-regular;
  padding: 0 14px;
  text-transform: uppercase;
}

.btn-default {
  @extend .btn;
  border: 1px solid $gray-light;
  background-color: transparent;
}
