@font-face {
  font-family: 'Share';
  src: url('../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.eot');
  src: url('../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.woff') format('woff'), url('../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.ttf') format('truetype'), url('../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.svg#Share-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
