@font-face {
  font-family: 'icons';
  src:  url('icons.eot?fgsxdn');
  src:  url('icons.eot?fgsxdn#iefix') format('embedded-opentype'),
    url('icons.ttf?fgsxdn') format('truetype'),
    url('icons.woff?fgsxdn') format('woff'),
    url('icons.svg?fgsxdn#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icons-arrow-double:before {
  content: "\e90e";
}
.icon-icons-list:before {
  content: "\e909";
}
.icon-icons-grid:before {
  content: "\e90a";
}
.icon-icons-arrow-up:before {
  content: "\e90f";
}
.icon-icons-arrow-down:before {
  content: "\e90b";
}
.icon-icons-cancel:before {
  content: "\e90c";
}
.icon-icons-save:before {
  content: "\e90d";
}
.icon-icons-site-tree:before {
  content: "\e900";
}
.icon-icons-back:before {
  content: "\e901";
}
.icon-icons-workspace:before {
  content: "\e902";
}
.icon-icons-tools-settings:before {
  content: "\e903";
}
.icon-icons-lg-desktop:before {
  content: "\e904";
}
.icon-icons-desktop:before {
  content: "\e905";
}
.icon-icons-tablet:before {
  content: "\e906";
}
.icon-icons-phone:before {
  content: "\e907";
}
.icon-icons-page:before {
  content: "\e908";
}
