.t3-frontend-editing__modal {
    font-size: 16px;
}

.t3-frontend-editing__modal .modal-title {
    font-size: 1.1em;
    font-weight: bold;
}

.t3-frontend-editing__modal .btn-left {
    float: left;
}

.t3-frontend-editing__modal .btn:focus {
    border-color: #ff8700 !important;
}

.t3-frontend-editing__modal .btn {
    min-width: calc(5ch + 15px * 2);
    border-radius: 2px !important;
    padding: 5px 16px !important;
    height: auto !important;
    text-transform: inherit;
}

.t3-frontend-editing__modal .modal-footer .btn + .btn {
    margin-left: 15px;
}

.t3-frontend-editing__modal .btn-default {
    color: #333;
    background-color: #eee !important;
    border-color: #bbb !important;
}
