/* Toolbars */
*[contenteditable="true"]:focus {
  outline: 3px dotted #FF8700; }

.t3-frontend-editing__inline-actions {
  visibility: hidden;
  background: #FF8700;
  height: 26px;
  display: block;
  width: 60px;
  margin: 0 0 0 auto;
  padding: 0; }
  .t3-frontend-editing__inline-actions .icon:hover {
    cursor: pointer; }
  .t3-frontend-editing__inline-actions .icon-actions-edit-delete {
    margin-left: 2px; }
