/* Toolbars */
*[contenteditable="true"]:focus {
  outline: 3px dotted #FF8700; }

.t3-frontend-editing__inline-actions {
  background: #FF8700;
  height: 26px;
  display: none;
  width: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px; }
  .t3-frontend-editing__inline-actions .icon:hover {
    cursor: pointer; }
  .t3-frontend-editing__inline-actions .icon-actions-edit-delete {
    margin-left: 2px; }
