/* Toolbars */
.btn, .btn-default, .t3-frontend-editing__top-bar-left .left-bar-button {
  background-color: #FF8700;
  color: #fff;
  border: none;
  text-align: center;
  min-width: 140px;
  height: 30px;
  font-size: 16px;
  cursor: pointer; }

.btn-default {
  border: 1px solid #B9B9B9;
  background-color: transparent; }

div.panel {
  padding: 0 18px;
  display: none; }

div.panel.show {
  display: block; }

/* TopBar */
.t3-frontend-editing__top-bar {
  background: #191919;
  color: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10999;
  font-family: Verdana, Helvetica, Arial, sans-serif; }
  .t3-frontend-editing__top-bar .cke {
    top: 45px !important; }

.t3-frontend-editing__topbar-inner {
  padding: 0;
  height: 45px;
  font-weight: 300;
  font-size: 13px; }

.t3-frontend-editing__top-bar-left {
  width: 50%;
  float: left; }
  .t3-frontend-editing__top-bar-left .left-bar-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer; }
  .t3-frontend-editing__top-bar-left .back-backend {
    display: inline-block;
    position: relative; }
    .t3-frontend-editing__top-bar-left .back-backend:hover {
      background-color: #4c4c4c; }
    .t3-frontend-editing__top-bar-left .back-backend a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 5px 10px 14px 10px; }
    .t3-frontend-editing__top-bar-left .back-backend img {
      position: relative;
      top: 5px; }

.t3-frontend-editing__top-bar-right {
  width: 50%;
  float: right;
  text-align: right; }
  .t3-frontend-editing__top-bar-right ul.top-bar-items {
    float: right;
    margin: 0;
    padding: 0; }
    .t3-frontend-editing__top-bar-right ul.top-bar-items li.item {
      float: left;
      height: 45px;
      position: relative;
      list-style: none;
      display: inline-block; }
  .t3-frontend-editing__top-bar-right .user span.icon-avatar-default {
    position: relative;
    top: 6px; }
  .t3-frontend-editing__top-bar-right .right-bar-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 15px; }

/* RightBar */
.t3-frontend-editing__right-bar {
  display: none;
  background: #515151;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  min-height: 100%;
  z-index: 10999;
  font-family: Verdana, Helvetica, Arial, sans-serif; }
  .t3-frontend-editing__right-bar .header, .t3-frontend-editing__right-bar .top-right-title {
    height: 45px;
    text-align: center; }
    .t3-frontend-editing__right-bar .header h4, .t3-frontend-editing__right-bar .top-right-title h4 {
      padding: 12px;
      margin: 0; }
  .t3-frontend-editing__right-bar .top-right-title {
    text-align: right;
    background-color: #191919; }
  .t3-frontend-editing__right-bar .save-discard-changes {
    background-color: red; }

.push-toleft {
  right: 310px;
  position: relative; }

.padding-wrapper {
  padding: 15px; }

/* LeftBar */
.t3-frontend-editing__left-bar {
  display: none;
  background: #191919;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100%;
  z-index: 10999;
  opacity: 0.8;
  font-family: Verdana, Helvetica, Arial, sans-serif; }

.push-toright {
  left: 250px;
  position: relative; }

/* iframe */
.t3-frontend-editing__iframe-wrapper {
  margin-top: 45px;
  margin-right: 310px; }
  .t3-frontend-editing__iframe-wrapper.inactive {
    margin-right: 0; }
  .t3-frontend-editing__iframe-wrapper iframe {
    width: 100%;
    height: 100%; }

.t3-frontend-editing__loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -45px;
  right: 0;
  background: #FFF;
  opacity: 0.8; }
  .t3-frontend-editing__loading-screen .icon-spin .icon-markup {
    filter: alpha(opacity=80);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    animation: icon-spin 2s infinite linear;
    display: block; }

@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.hidden {
  display: none; }
