/* Toolbars */
@font-face {
  font-family: 'icons';
  src: url("Fonts/icons.eot?ybin2g");
  src: url("Fonts/icons.eot?ybin2g#iefix") format("embedded-opentype"), url("Fonts/icons.ttf?ybin2g") format("truetype"), url("Fonts/icons.woff?ybin2g") format("woff"), url("Fonts/icons.svg?ybin2g#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icons {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icons-site-tree:before {
  content: "\e900"; }

.icon-icons-back:before {
  content: "\e901"; }

.icon-icons-workspace:before {
  content: "\e902"; }

.icon-icons-tools-settings:before {
  content: "\e903"; }

.icon-icons-lg-desktop:before {
  content: "\e904"; }

.icon-icons-desktop:before {
  content: "\e905"; }

.icon-icons-tablet:before {
  content: "\e906"; }

.icon-icons-phone:before {
  content: "\e907"; }

.icon-icons-page:before {
  content: "\e908"; }

.t3-frontend-editing__right-bar .save-discard-changes .btn, .t3-frontend-editing__right-bar .save-discard-changes .btn-default {
  min-width: 135px; }

.btn, .btn-default {
  display: inline-block;
  background-color: #FF8700;
  color: #fff;
  border: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif;
  height: 35px;
  font-size: 16px;
  padding: 0 14px;
  text-transform: uppercase; }

.btn-default {
  border: 1px solid #838383;
  background-color: transparent; }

.title-default {
  padding: 10px 0; }

.title-center {
  text-align: center;
  padding: 10px;
  display: block; }

.title-right {
  text-align: right;
  padding: 10px;
  display: block; }

.title-left {
  text-align: left;
  padding: 10px;
  display: block; }

.accordion {
  border-top: 1px solid #838383;
  min-height: 49px; }
  .accordion:hover {
    cursor: pointer; }

.accordion-content {
  padding: 10px 10px;
  display: none;
  background-color: #0f0f0f;
  border-top: 1px solid #4c4c4c; }
  .accordion-content.show {
    display: block; }

.padding-wrapper {
  padding: 0 14px; }

.dark-transparent-bg {
  background-color: rgba(0, 0, 0, 0.6); }

@font-face {
  font-family: 'Share';
  src: url("../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.eot");
  src: url("../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.woff") format("woff"), url("../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.ttf") format("truetype"), url("../../../.Build/Web/typo3/sysext/t3skin/Resources/Public/Fonts/Share/share-regular-webfont.svg#Share-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

.content-icon {
  background-color: #555f63;
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
  margin: 5px 5px 5px 0;
  vertical-align: top; }
  .content-icon img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.accordion-content .description {
  display: inline-block;
  width: 200px;
  display: none; }
  .accordion-content .description.active {
    display: inline-block; }
  .accordion-content .description .title-default {
    display: inline-block;
    width: 200px;
    padding: 0;
    line-height: 1.1; }
    .accordion-content .description .title-default:first-of-type {
      font-size: 18px;
      padding-top: 4px; }

.t3-frontend-editing__top-bar {
  background: #191919;
  color: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10999;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px; }
  .t3-frontend-editing__top-bar .cke {
    top: 45px !important; }

.t3-frontend-editing__topbar-inner {
  padding: 0;
  height: 45px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase; }

.t3-frontend-editing__top-bar-left {
  width: 50%;
  float: left; }
  .t3-frontend-editing__top-bar-left .left-bar-button {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer; }
  .t3-frontend-editing__top-bar-left .back-backend {
    display: inline-block;
    position: relative;
    border-right: 1px solid #0f0f0f;
    height: 45px; }
    .t3-frontend-editing__top-bar-left .back-backend:hover {
      background-color: #424242; }
    .t3-frontend-editing__top-bar-left .back-backend a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 10px 10px 14px; }
    .t3-frontend-editing__top-bar-left .back-backend .icon-icons-back {
      padding-right: 5px;
      top: 2px;
      position: relative;
      font-size: 20px;
      color: #FF8700; }

.t3-frontend-editing__top-bar-right {
  width: 50%;
  float: right;
  text-align: right; }
  .t3-frontend-editing__top-bar-right .top-bar-items {
    float: right;
    margin: 0;
    padding: 0; }
    .t3-frontend-editing__top-bar-right .top-bar-items .item {
      float: left;
      height: 45px;
      position: relative;
      list-style: none;
      display: inline-block; }
  .t3-frontend-editing__top-bar-right .user .icon-avatar-default {
    position: relative;
    top: 6px; }
  .t3-frontend-editing__top-bar-right .right-bar-button {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-top: 15px; }

.t3-frontend-editing__right-bar {
  display: none;
  background-color: #4c4c4c;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  min-height: 100%;
  z-index: 10999;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  .t3-frontend-editing__right-bar .top-right-title {
    text-align: right;
    background-color: #0f0f0f;
    height: 45px; }
    .t3-frontend-editing__right-bar .top-right-title .title-right {
      font-size: 18px;
      display: inline-block;
      padding-right: 5px; }
    .t3-frontend-editing__right-bar .top-right-title .icon-icons-tools-settings {
      top: 7px;
      position: relative;
      font-size: 32px;
      padding-right: 15px;
      color: #FF8700; }
  .t3-frontend-editing__right-bar .page-seo {
    padding: 15px 0 0; }
    .t3-frontend-editing__right-bar .page-seo .page-seo-score {
      border: 4px solid #FF8700;
      font-size: 25px;
      padding: 6px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      text-align: center;
      display: inline-block;
      margin: 0 8px;
      position: relative;
      top: 2px; }
    .t3-frontend-editing__right-bar .page-seo .btn-default {
      margin-bottom: 8px; }
    .t3-frontend-editing__right-bar .page-seo .page-seo-devices {
      padding-top: 12px;
      font-size: 24px;
      display: table;
      margin: 0 auto; }
      .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-lg-desktop {
        font-size: 48px;
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
        color: #838383; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-lg-desktop.active {
          color: #fff; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-lg-desktop:hover {
          cursor: pointer;
          color: #fff; }
      .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-desktop {
        font-size: 48px;
        display: table-cell;
        vertical-align: middle;
        padding-right: 5px;
        color: #838383; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-desktop.active {
          color: #fff; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-desktop:hover {
          cursor: pointer;
          color: #fff; }
      .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-tablet {
        font-size: 34px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-right: 5px;
        color: #838383; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-tablet.active {
          color: #fff; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-tablet:hover {
          cursor: pointer;
          color: #fff; }
      .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-phone {
        font-size: 26px;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        top: 3px;
        color: #838383; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-phone.active {
          color: #fff; }
        .t3-frontend-editing__right-bar .page-seo .page-seo-devices .page-seo-phone:hover {
          cursor: pointer;
          color: #fff; }
  .t3-frontend-editing__right-bar .save-discard-changes {
    padding: 15px 0;
    text-align: center; }
    .t3-frontend-editing__right-bar .save-discard-changes .title-center {
      font-size: 18px;
      color: #FF8700; }
    .t3-frontend-editing__right-bar .save-discard-changes .number {
      color: #fff; }

.push-toleft {
  right: 310px;
  position: relative; }

.push-toleft-iframe {
  width: calc(100% - 310px); }

.t3-frontend-editing__left-bar {
  display: none;
  background: #0f0f0f;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100%;
  z-index: 10999;
  opacity: .8;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif; }

.push-toright {
  left: 250px;
  position: relative; }

.t3-frontend-editing__iframe-wrapper {
  margin-top: 45px;
  margin-right: 310px; }
  .t3-frontend-editing__iframe-wrapper.inactive {
    margin-right: 0; }
  .t3-frontend-editing__iframe-wrapper iframe {
    width: 100%;
    height: 100%; }

.t3-frontend-editing__loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -45px;
  right: 0;
  background: #fff;
  opacity: .8; }
  .t3-frontend-editing__loading-screen .icon-spin .icon-markup {
    filter: alpha(opacity=80);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    animation: icon-spin 2s infinite linear;
    display: block; }

@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.hidden {
  display: none; }
