/* Toolbars */
@font-face {
  font-family: 'Share';
  src: url("./../../../../../../typo3/sysext/backend/Resources/Public/Fonts/Share/share-regular-webfont.eot");
  src: url("./../../../../../../typo3/sysext/backend/Resources/Public/Fonts/Share/share-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./../../../../../../typo3/sysext/backend/Resources/Public/Fonts/Share/share-regular-webfont.woff") format("woff"), url("./../../../../../../typo3/sysext/backend/Resources/Public/Fonts/Share/share-regular-webfont.ttf") format("truetype"), url("./../../../../../../typo3/sysext/backend/Resources/Public/Fonts/Share/share-regular-webfont.svg#Share-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("Fonts/icons.eot?ytjj5m");
  src: url("Fonts/icons.eot?ytjj5m#iefix") format("embedded-opentype"), url("Fonts/icons.ttf?ytjj5m") format("truetype"), url("Fonts/icons.woff?ytjj5m") format("woff"), url("Fonts/icons.svg?ytjj5m#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icons {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-icons-01:before {
  content: "\e900"; }

.icon-icons-02:before {
  content: "\e901"; }

.icon-icons-03:before {
  content: "\e902"; }

.icon-icons-04:before {
  content: "\e903"; }

.icon-icons-05:before {
  content: "\e904"; }

.icon-icons-06:before {
  content: "\e905"; }

.icon-icons-07:before {
  content: "\e906"; }

.icon-icons-08:before {
  content: "\e907"; }

.icon-icons-09:before {
  content: "\e908"; }

.btn, .btn-default {
  display: inline-block;
  background-color: #FF8700;
  color: #fff;
  border: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  min-width: 138px;
  height: 35px;
  font-size: 16px; }

.btn-default {
  border: 1px solid #B9B9B9;
  background-color: transparent; }

.accordion {
  border-top: 1px solid #0f0f0f;
  min-height: 49px; }

.panel {
  padding: 10px 0;
  display: none; }
  .panel.show {
    display: block; }

.padding-wrapper {
  padding: 0 14px; }

.dark-transparent-bg {
  background-color: rgba(0, 0, 0, 0.6); }

.title-default {
  padding: 10px 0; }

.title-center {
  text-align: center;
  padding: 10px;
  display: block; }

.title-right {
  text-align: right;
  padding: 10px;
  display: block; }

.title-left {
  text-align: left;
  padding: 10px;
  display: block; }

.t3-frontend-editing__top-bar {
  background: #191919;
  color: #fff;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10999;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px; }
  .t3-frontend-editing__top-bar .cke {
    top: 45px !important; }

.t3-frontend-editing__topbar-inner {
  padding: 0;
  height: 45px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase; }

.t3-frontend-editing__top-bar-left {
  width: 50%;
  float: left; }
  .t3-frontend-editing__top-bar-left .left-bar-button {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer; }
  .t3-frontend-editing__top-bar-left .back-backend {
    display: inline-block;
    position: relative;
    border-right: 1px solid #0f0f0f;
    height: 45px; }
    .t3-frontend-editing__top-bar-left .back-backend:hover {
      background-color: #424242; }
    .t3-frontend-editing__top-bar-left .back-backend a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      padding: 10px 10px 14px; }
    .t3-frontend-editing__top-bar-left .back-backend .icon-icons-02 {
      padding-right: 5px;
      top: 2px;
      position: relative;
      font-size: 20px;
      color: #FF8700; }

.t3-frontend-editing__top-bar-right {
  width: 50%;
  float: right;
  text-align: right; }
  .t3-frontend-editing__top-bar-right .top-bar-items {
    float: right;
    margin: 0;
    padding: 0; }
    .t3-frontend-editing__top-bar-right .top-bar-items .item {
      float: left;
      height: 45px;
      position: relative;
      list-style: none;
      display: inline-block; }
  .t3-frontend-editing__top-bar-right .user .icon-avatar-default {
    position: relative;
    top: 6px; }
  .t3-frontend-editing__top-bar-right .right-bar-button {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-top: 15px; }

.t3-frontend-editing__right-bar {
  display: none;
  background-color: #4c4c4c;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  min-height: 100%;
  z-index: 10999;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif; }
  .t3-frontend-editing__right-bar .header, .t3-frontend-editing__right-bar .top-right-title {
    height: 45px;
    text-align: center; }
    .t3-frontend-editing__right-bar .header h4, .t3-frontend-editing__right-bar .top-right-title h4 {
      padding: 12px;
      margin: 0; }
  .t3-frontend-editing__right-bar .top-right-title {
    text-align: right;
    background-color: #0f0f0f; }
    .t3-frontend-editing__right-bar .top-right-title .title-right {
      font-size: 18px;
      display: inline-block;
      padding-right: 5px; }
    .t3-frontend-editing__right-bar .top-right-title .icon-icons-04 {
      top: 7px;
      position: relative;
      font-size: 32px;
      padding-right: 15px;
      color: #FF8700; }
  .t3-frontend-editing__right-bar .page-seo {
    padding: 15px 0; }
  .t3-frontend-editing__right-bar .save-discard-changes {
    padding: 15px 0;
    text-align: center; }
    .t3-frontend-editing__right-bar .save-discard-changes p {
      text-transform: uppercase;
      color: #FF8700;
      letter-spacing: -1px; }
    .t3-frontend-editing__right-bar .save-discard-changes .title-center {
      color: #FF8700;
      font-style: uppercase; }
    .t3-frontend-editing__right-bar .save-discard-changes .number {
      color: #fff; }

.push-toleft {
  right: 310px;
  position: relative; }

.push-toleft-iframe {
  width: calc(100% - 310px); }

.t3-frontend-editing__left-bar {
  display: none;
  background: #0f0f0f;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  min-height: 100%;
  z-index: 10999;
  opacity: .8;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif; }

.push-toright {
  left: 250px;
  position: relative; }

.t3-frontend-editing__iframe-wrapper {
  margin-top: 45px;
  margin-right: 310px; }
  .t3-frontend-editing__iframe-wrapper.inactive {
    margin-right: 0; }
  .t3-frontend-editing__iframe-wrapper iframe {
    width: 100%;
    height: 100%; }

.t3-frontend-editing__loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -45px;
  right: 0;
  background: #fff;
  opacity: .8; }
  .t3-frontend-editing__loading-screen .icon-spin .icon-markup {
    filter: alpha(opacity=80);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    animation: icon-spin 2s infinite linear;
    display: block; }

@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.hidden {
  display: none; }
