/* RightBar */

.#{$t3-frontend}right-bar {
  display: none;
  background: $gray-dark;
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  width: $right-bar-width;
  min-height: 100%;
  z-index: 10999;
  font-family: $font-family-base;

	.header{
		height: 45px;
		text-align: center;
		h4{
			padding: 12px;
			margin: 0;
		}
	}
	.top-right-title{
		@extend .header;
		text-align: right;
		background-color: $header-top-bg-color;
	}
	.save-discard-changes{
		background-color: red;
	}
}


.push-toleft { 
  right: $right-bar-width;
  position: relative; 
}


.padding-wrapper{
  padding:15px;
}
