.#{$t3-frontend}right-bar {
  display: none;
  background-color: $gray;
  color: $white;
  position: fixed;
  top: 0;
  right: 0;
  width: $right-bar-width;
  min-height: 100%;
  z-index: 10999;
  font-family: $font-family-base;

  .header {
    height: 45px;
    text-align: center;

    h4 {
      padding: 12px;
      margin: 0;
    }
  }

  .top-right-title {
    @extend .header;
    text-align: right;
    background-color: $header-top-bg-color;

    .title-right {
      font-size: 18px;
      display: inline-block;
      padding-right: 5px;
    }

    .icon-icons-04 {
      top: 7px;
      position: relative;
      font-size: 32px;
      padding-right: 15px;
      color: $orange-primary;
    }
  }

  .page-seo {
    padding: 15px 0;
  }

  .save-discard-changes {
    padding: 15px 0;
    text-align: center;

    p {
      text-transform: uppercase;
      color: $orange-primary;
      letter-spacing: -1px;
    }

    .title-center {
      color: $orange-primary;
      font-style: uppercase;
    }

    .number {
      color: $white;
    }
  }
}

.push-toleft {
  right: $right-bar-width;
  position: relative;
}

.push-toleft-iframe {
  width: calc(100% - 310px);
}
