.#{$t3-frontend}top-bar {
  background: $gray-dark;
  color: $white;
  height: $top-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10999;
  font-family: $font-family-base;
  font-size: $font-size-regular;

  .cke {
    top: 1px !important;
    left: 180px !important;
  }
}

.#{$t3-frontend}topbar-inner {
  padding: 0;
  height: $top-bar-height;
  font-weight: 300;
  font-size: $font-size-regular;
  text-transform: uppercase;
}

.#{$t3-frontend}top-bar-left {
  width: 50%;
  float: left;

  .left-bar-button {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
  }

  &.push-toright {

    .back-backend {
      margin-left: 0;
    }
  }

  .back-backend {
    display: inline-block;
    position: relative;
    border-right: 1px solid $black;
    height: 45px;
    margin-left: 35px;

    &:hover {
      background-color: lighten($black, 20%);
    }

    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      padding: 10px 10px 14px;
    }

    .icon-icons-back {
      padding-right: 5px;
      top: 3px;
      position: relative;
      font-size: 20px;
      color: $orange-primary;
    }
  }
}

.#{$t3-frontend}top-bar-right {
  @include transition(left .2s);
  @include transition-duration(.2s);
  width: 50%;
  float: right;
  text-align: right;
  right: 0;
  position: relative;


  &.push-toleft {
    @include transition(right .2s);
    @include transition-duration(.2s);
    right: $right-bar-width;
    position: relative;

    .top-bar-items {

      .item {
        margin-right: 10px;
      }
    }
  }

  .top-bar-action-buttons {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }

  .top-bar-items {
    float: right;
    margin: 0;
    padding: 0;

    .item {
      margin-right: 50px;
      float: left;
      height: 45px;
      position: relative;
      list-style: none;
      display: inline-block;
    }
  }

  .user {
    .icon-avatar-default {
      position: relative;
      top: 6px;
      vertical-align: middle;

    }
  }

  .right-bar-button {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    margin-top: 15px;
  }
}
