<f:layout name="DocHeader" />
<f:section name="Content">
    <f:flashMessages />
    <f:if condition="{url}">
        <f:render partial="ContentElementsToolbar" arguments="{_all}"></f:render>

        <div class="t3-frontend-editing__ckeditor-bar__wrapper" style="display:none"><div class="t3-frontend-editing__ckeditor-bar"></div></div>

        <f:variable name="width">{f:if(condition: current.width, then: '{current.width}px', else: '100%')}</f:variable>
        <f:variable name="height">{f:if(condition: current.height, then: '{current.height}px', else: '100%')}</f:variable>
        <div class="frontendediting-resizeable t3js-frontendediting-resizeable" style="width:{width};height:{height}">
            <iframe id="tx_frontendediting_iframe" src="{url}"></iframe>
            <div style="display: none;" class="scrollarea scrollarea--arrow scrollarea-top scrollarea--arrow-up"></div>
            <div style="display: none;" class="scrollarea scrollarea--arrow scrollarea-bottom scrollarea--arrow-down"></div>
            <f:if condition="!{disableLoadingScreen}">
                <div class="t3-frontend-editing__loading-screen">{loadingIcon -> f:format.raw()}</div>
            </f:if>
        </div>
    </f:if>
</f:section>
