<f:layout name="DocHeader" />
<f:section name="Content">
    <f:flashMessages />
    <f:if condition="{url}">

        <f:variable name="width">{f:if(condition: current.width, then: '{current.width}px', else: '100%')}</f:variable>
        <f:variable name="height">{f:if(condition: current.height, then: '{current.height}px', else: '100%')}</f:variable>
        <div class="frontendediting-resizeable t3js-frontendediting-resizeable" style="width:{width};height:{height};">
            <iframe id="tx_frontendediting_iframe" src="{url}"></iframe>
        </div>
    </f:if>
</f:section>
