/* Toolbars */
*[contenteditable="true"]:focus {
  outline: 3px dotted #FF8700; }

.t3-frontend-editing__dropzone {
  height: 0px;
  background-color: #a7d7ff;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  margin: 0;
  padding: 0; }

.t3-frontend-editing__ce {
  position: relative; }
  .t3-frontend-editing__ce:hover {
    outline: 3px dotted rgba(15, 15, 15, 0.2); }
    .t3-frontend-editing__ce:hover .cke_editable {
      outline: 3px dotted #FF8700; }
    .t3-frontend-editing__ce:hover .t3-frontend-editing__inline-actions {
      display: block; }
  .t3-frontend-editing__ce.indicate-element {
    outline: 3px solid #FF8700; }

.dropzones-enabled .t3-frontend-editing__dropzone {
  height: 25px; }
  .dropzones-enabled .t3-frontend-editing__dropzone.active {
    height: 60px;
    border: dashed 2px #0091d2; }

.t3-frontend-editing__inline-actions {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  color: #fff;
  font-size: 14px;
  font-family: "Share", Verdana, Helvetica, Arial, sans-serif;
  z-index: 2; }
  .t3-frontend-editing__inline-actions .icon .icon-markup img {
    cursor: pointer; }
  .t3-frontend-editing__inline-actions .icon-actions-edit-delete, .t3-frontend-editing__inline-actions .icon-actions-edit-add {
    margin-left: 2px; }
