@import "Constants";

*[contenteditable="true"] {
  &:focus{
    outline: 3px dotted $orange-primary;
  }
}

&.#{$t3-frontend}hidden-element {
  opacity: .4;
}

.#{$t3-frontend}dropzone {
  height: 0px;
  background-color: $drop-zone-bg-color;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  margin: 0;
  padding: 0;
}

.#{$t3-frontend}ce {
  position: relative;
  &:hover {
    outline: 3px dotted rgba($black, .2);
    .cke_editable {
      outline: 3px dotted $orange-primary;
    }
    .#{$t3-frontend}inline-actions {
      display: block;
    }
  }
}

.dropzones-enabled .#{$t3-frontend}dropzone {
  height: $drop-zone-enabled-height;
  &.active {
    height: $drop-zone-active-height;
    border: dashed 2px $drop-zone-active-border-color;
  }
}

.#{$t3-frontend}inline-actions {
  display: none;
  background:rgba($white, .8);
  position: absolute;
  top:0;
  right:0;
  padding: 2px;
  color: $white;
  font-size: $font-size-small;
  font-family: $font-family-base;
  z-index: 2;

  .icon {
    .icon-markup {
      img {
        cursor: pointer;
      }
    }
  }

  .icon-actions-edit-delete, .icon-actions-edit-add  {
    margin-left: 2px;
  }
}
